In [30]:
import requests
import pandas as pd
import sqlalchemy as sa 
import time
import schedule

In [ ]:
# connect to the database
connection_url = sa.engine.URL.create(
    drivername = "mssql+pyodbc",
    username   = "a80sxh",
    password   = "2024!Schulich",
    host       = "mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com",
    port       = "1433",
    database   = "a80sxh_db",
    query = {
        "driver" : "ODBC Driver 18 for SQL Server",
        "TrustServerCertificate" : "yes"
    }
)

In [32]:
print(connection_url)

mssql+pyodbc://a80sxh:***@mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com:1433/a80sxh_db?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server

In [33]:
my_engine = sa.create_engine(connection_url)

In [34]:
import pandas as pd
import requests
from datetime import datetime, timedelta
from sqlalchemy import create_engine, text, inspect

In [35]:
# Verify if the table exists
inspector = inspect(my_engine)
tables = inspector.get_table_names(schema='uploads')
print("Tables in uploads schema:", tables)

# Fetch geographic information from the existing table if it exists
if 'ca_geo_dimension' in tables:
    geographic_info_df = pd.read_sql('SELECT * FROM uploads.ca_geo_dimension', con=my_engine)
    print(geographic_info_df.head())
else:
    print("Table 'ca_geo_dimension' does not exist in schema 'uploads'.")

Tables in uploads schema: ['ca_geo_dimension']
  province   region zipcode  latitude  longitude                    landmark
0  Ontario  Toronto  M5V3L9  43.64197   -79.3860                    CN Tower
1  Ontario  Toronto  M5J2H3  43.64121   -79.3766  Centreville Amusement Park
2  Ontario  Toronto  M6A2T9  43.72667   -79.4576                    Yorkdale
3  Ontario  Toronto  M6R2Z3  43.64585   -79.4566                   High Park
4  Ontario     Peel  L5P1B2  43.69039   -79.6238                 YYZ Airport

In [36]:
my_query = sa.text("SELECT * FROM uploads.ca_geo_dimension;")

with my_engine.connect() as my_connection:
    df1 = pd.read_sql(sql=my_query, con=my_connection)

In [37]:
import requests
from datetime import datetime, timedelta
from sqlalchemy import create_engine, inspect

In [38]:
#WeatherAPI key
api_key = "c169b36dc0b4463cbc855403240108"
current_url = "http://api.weatherapi.com/v1/current.json"
forecast_url = "http://api.weatherapi.com/v1/forecast.json"
historical_url = "http://api.weatherapi.com/v1/history.json"

In [39]:
def fetch_current_weather(location):
    params = {
        'key': api_key,
        'q': location
    }
    response = requests.get(current_url, params=params)
    return response.json()

def fetch_weather_forecast(location):
    params = {
        'key': api_key,
        'q': location,
        'days': 3  # Forecast for 3 days
    }
    response = requests.get(forecast_url, params=params)
    return response.json()

def fetch_historical_weather(location, date):
    params = {
        'key': api_key,
        'q': location,
        'dt': date.strftime('%Y-%m-%d')
    }
    response = requests.get(historical_url, params=params)
    return response.json()

In [40]:
def clean_weather_data(data, data_type, location, zipcode):
    try:
        common_data = {
            'latitude': location.split(',')[0],
            'longitude': location.split(',')[1],
            'city': data['location']['name'],
            'zipcode': zipcode,
            'timezone': data['location']['tz_id']
        }

        if data_type == 'current':
            return {
                **common_data,
                'date': data['location']['localtime'],
                'temperature_C': data['current']['temp_c'],
                'humidity': data['current']['humidity'],
                'weather': data['current']['condition']['text'],
                'wind_speed_kph': data['current']['wind_kph'],
                'wind_direction': data['current']['wind_dir'],
                'precipitation_mm': data['current']['precip_mm'],
                'pressure_mb': data['current']['pressure_mb'],
                'visibility_km': data['current']['vis_km']
            }
        elif data_type == 'forecast':
            records = []
            for forecast in data['forecast']['forecastday']:
                records.append({
                    **common_data,
                    'date': forecast['date'],
                    'temperature_C': forecast['day']['avgtemp_c'],
                    'humidity': forecast['day']['avghumidity'],
                    'weather': forecast['day']['condition']['text'],
                    'min_temp_C': forecast['day']['mintemp_c'],
                    'max_temp_C': forecast['day']['maxtemp_c'],
                    'wind_speed_kph': forecast['day']['maxwind_kph'],
                    'wind_direction': forecast['day']['condition']['text'],
                    'precipitation_mm': forecast['day']['totalprecip_mm'],
                    'pressure_mb': forecast['day']['avghumidity'],  # Forecast API does not provide pressure data
                    'visibility_km': forecast['day']['avgvis_km']
                })
            return records
        elif data_type == 'historical':
            weather_data = data['forecast']['forecastday'][0]['day']
            return {
                **common_data,
                'date': data['forecast']['forecastday'][0]['date'],
                'temperature_C': weather_data['avgtemp_c'],
                'humidity': weather_data['avghumidity'],
                'weather': weather_data['condition']['text'],
                'min_temp_C': weather_data['mintemp_c'],
                'max_temp_C': weather_data['maxtemp_c'],
                'wind_speed_kph': weather_data['maxwind_kph'],
                'wind_direction': weather_data['condition']['text'],
                'precipitation_mm': weather_data['totalprecip_mm'],
                'pressure_mb': weather_data['avghumidity'],  # Historical API does not provide pressure data
                'visibility_km': weather_data['avgvis_km']
            }
    except KeyError as e:
        print(f"KeyError: {e} in {data_type} weather data: {data}")
        return {}

In [41]:

# Fetch geographic information from the existing table
geographic_info_df = pd.read_sql('SELECT province, region, zipcode, latitude, longitude, landmark FROM uploads.ca_geo_dimension', con=my_engine)

sample_data = []

for index, row in geographic_info_df.iterrows():
        location = f"{row.latitude},{row.longitude}"
        
        current_data = fetch_current_weather(location)
        forecast_data = fetch_weather_forecast(location)
        
        historical_data_list = []
        for days_ago in range(1, 4):  # Fetching past 3 days of historical data
            historical_date = datetime.now() - timedelta(days=days_ago)
            historical_data = fetch_historical_weather(location, historical_date)
            historical_data_list.append(historical_data)
        
        sample_data.append({
            'zipcode': row.zipcode,
            'current_weather': current_data,
            'forecast': forecast_data,
            'historical_weather': historical_data_list
        })

In [42]:
# Converting sample data to DataFrame for further processing
sample_df = pd.DataFrame(sample_data)

In [43]:
sample_df

,zipcode,current_weather,forecast,historical_weather
0,M5V3L9,"{'location': {'name': 'Toronto', 'region': 'On...","{'location': {'name': 'Toronto', 'region': 'On...","[{'location': {'name': 'Toronto', 'region': 'O..."
1,M5J2H3,"{'location': {'name': 'Toronto', 'region': 'On...","{'location': {'name': 'Toronto', 'region': 'On...","[{'location': {'name': 'Toronto', 'region': 'O..."
2,M6A2T9,"{'location': {'name': 'Willowdale', 'region': ...","{'location': {'name': 'Willowdale', 'region': ...","[{'location': {'name': 'Willowdale', 'region':..."
3,M6R2Z3,"{'location': {'name': 'Toronto', 'region': 'On...","{'location': {'name': 'Toronto', 'region': 'On...","[{'location': {'name': 'Toronto', 'region': 'O..."
4,L5P1B2,"{'location': {'name': 'Etobicoke', 'region': '...","{'location': {'name': 'Etobicoke', 'region': '...","[{'location': {'name': 'Etobicoke', 'region': ..."
5,L6A1S6,"{'location': {'name': 'Concord', 'region': 'On...","{'location': {'name': 'Concord', 'region': 'On...","[{'location': {'name': 'Concord', 'region': 'O..."
6,L7G0J1,"{'location': {'name': 'Georgetown', 'region': ...","{'location': {'name': 'Georgetown', 'region': ...","[{'location': {'name': 'Georgetown', 'region':..."
7,M1B5K7,"{'location': {'name': 'Markham', 'region': 'On...","{'location': {'name': 'Markham', 'region': 'On...","[{'location': {'name': 'Markham', 'region': 'O..."
8,M3C1P2,"{'location': {'name': 'Willowdale', 'region': ...","{'location': {'name': 'Willowdale', 'region': ...","[{'location': {'name': 'Willowdale', 'region':..."
9,M5S2C6,"{'location': {'name': 'Toronto', 'region': 'On...","{'location': {'name': 'Toronto', 'region': 'On...","[{'location': {'name': 'Toronto', 'region': 'O..."
10,M5S1A1,"{'location': {'name': 'Toronto', 'region': 'On...","{'location': {'name': 'Toronto', 'region': 'On...","[{'location': {'name': 'Toronto', 'region': 'O..."
11,M3J1P3,"{'location': {'name': 'Concord', 'region': 'On...","{'location': {'name': 'Concord', 'region': 'On...","[{'location': {'name': 'Concord', 'region': 'O..."
12,M5B2K3,"{'location': {'name': 'Toronto', 'region': 'On...","{'location': {'name': 'Toronto', 'region': 'On...","[{'location': {'name': 'Toronto', 'region': 'O..."

In [44]:
# Cleaning the data with error handling and temperature conversion
cleaned_current_weather = [clean_weather_data(data, 'current', f"{row.latitude},{row.longitude}", row.zipcode) for data, row in zip(sample_df['current_weather'], geographic_info_df.itertuples())]
cleaned_forecast = [record for data, row in zip(sample_df['forecast'], geographic_info_df.itertuples()) for record in clean_weather_data(data, 'forecast', f"{row.latitude},{row.longitude}", row.zipcode)]
cleaned_historical_weather = [clean_weather_data(day_data, 'historical', f"{row.latitude},{row.longitude}", row.zipcode) for data, row in zip(sample_df['historical_weather'], geographic_info_df.itertuples()) for day_data in data]

In [45]:
# Preparing data for SQL insertion
current_weather_df = pd.DataFrame(cleaned_current_weather)
forecast_df = pd.DataFrame(cleaned_forecast)
historical_weather_df = pd.DataFrame(cleaned_historical_weather)

In [46]:
historical_weather_df.head()

,latitude,longitude,city,zipcode,timezone,date,temperature_C,humidity,weather,min_temp_C,max_temp_C,wind_speed_kph,wind_direction,precipitation_mm,pressure_mb,visibility_km
0,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-07-31,24.2,80,Light rain shower,21.2,28.5,13.7,Light rain shower,5.38,80,8.5
1,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-07-30,23.0,80,Light rain shower,21.0,26.5,18.4,Light rain shower,6.45,80,9.5
2,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-07-29,24.6,60,Sunny,20.4,29.0,9.7,Sunny,0.01,60,10.0
3,43.64121,-79.3766,Toronto,M5J2H3,America/Toronto,2024-07-31,24.2,80,Light rain shower,21.2,28.5,13.7,Light rain shower,5.38,80,8.5
4,43.64121,-79.3766,Toronto,M5J2H3,America/Toronto,2024-07-30,23.0,80,Light rain shower,21.0,26.5,18.4,Light rain shower,6.45,80,9.5

In [47]:
forecast_df.head()

,latitude,longitude,city,zipcode,timezone,date,temperature_C,humidity,weather,min_temp_C,max_temp_C,wind_speed_kph,wind_direction,precipitation_mm,pressure_mb,visibility_km
0,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-08-01,26.2,64,Sunny,22.1,30.5,11.2,Sunny,0.00,64,10.0
1,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-08-02,25.8,69,Patchy rain nearby,23.8,28.4,9.4,Patchy rain nearby,1.24,69,9.9
2,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-08-03,26.0,68,Partly Cloudy,23.6,29.3,12.2,Partly Cloudy,0.00,68,10.0
3,43.64121,-79.3766,Toronto,M5J2H3,America/Toronto,2024-08-01,26.2,64,Sunny,22.1,30.5,11.2,Sunny,0.00,64,10.0
4,43.64121,-79.3766,Toronto,M5J2H3,America/Toronto,2024-08-02,25.8,69,Patchy rain nearby,23.8,28.4,9.4,Patchy rain nearby,1.24,69,9.9

In [48]:
current_weather_df.head()

,latitude,longitude,city,zipcode,timezone,date,temperature_C,humidity,weather,wind_speed_kph,wind_direction,precipitation_mm,pressure_mb,visibility_km
0,43.64197,-79.386,Toronto,M5V3L9,America/Toronto,2024-08-01 4:41,22.6,79,Clear,7.6,NW,0.0,1013.0,10.0
1,43.64121,-79.3766,Toronto,M5J2H3,America/Toronto,2024-08-01 4:41,22.6,79,Clear,7.6,NW,0.0,1013.0,10.0
2,43.72667,-79.4576,Willowdale,M6A2T9,America/Toronto,2024-08-01 4:41,21.9,81,Clear,6.1,NW,0.0,1014.0,10.0
3,43.64585,-79.4566,Toronto,M6R2Z3,America/Toronto,2024-08-01 4:41,22.1,80,Clear,7.9,NW,0.0,1013.0,10.0
4,43.69039,-79.6238,Etobicoke,L5P1B2,America/Toronto,2024-08-01 4:41,21.1,84,Clear,7.9,NW,0.0,1014.0,10.0

In [49]:
# Function to load data to SQL
def load_data_to_sql(df, table_name, schema='uploads'):
    df.to_sql(table_name, schema=schema, con=my_engine, if_exists='append', index=False)

In [50]:
# Loading data to SQL
load_data_to_sql(current_weather_df, 'current_weather')
load_data_to_sql(forecast_df, 'weather_forecast')
load_data_to_sql(historical_weather_df, 'historical_weather')

## Searching the weather in every 2 hours

In [47]:
while True:
    weather_data = []
    for index, row in df1.iterrows():
        latitude = row['latitude']
        longitude = row['longitude']
        location = f"{latitude},{longitude}"  # Combine latitude and longitude into a single string
        data = fetch_current_weather(location)
        weather_data.append(data)
    weather_df = pd.DataFrame(weather_data)
    print(weather_df)
    time.sleep(7200)  # Sleep for 2 hours

                                             location  \
0   {'name': 'Toronto', 'region': 'Ontario', 'coun...
1   {'name': 'Toronto', 'region': 'Ontario', 'coun...
2   {'name': 'Willowdale', 'region': 'Ontario', 'c...
3   {'name': 'Toronto', 'region': 'Ontario', 'coun...
4   {'name': 'Etobicoke', 'region': 'Ontario', 'co...
5   {'name': 'Concord', 'region': 'Ontario', 'coun...
6   {'name': 'Georgetown', 'region': 'Ontario', 'c...
7   {'name': 'Markham', 'region': 'Ontario', 'coun...
8   {'name': 'Willowdale', 'region': 'Ontario', 'c...
9   {'name': 'Toronto', 'region': 'Ontario', 'coun...
10  {'name': 'Toronto', 'region': 'Ontario', 'coun...
11  {'name': 'Concord', 'region': 'Ontario', 'coun...
12  {'name': 'Toronto', 'region': 'Ontario', 'coun...

                                              current
0   {'last_updated_epoch': 1722500100, 'last_updat...
1   {'last_updated_epoch': 1722500100, 'last_updat...
2   {'last_updated_epoch': 1722500100, 'last_updat...
3   {'last_updated_epoch': 1722500100, 'last_updat...
4   {'last_updated_epoch': 1722500100, 'last_updat...
5   {'last_updated_epoch': 1722500100, 'last_updat...
6   {'last_updated_epoch': 1722500100, 'last_updat...
7   {'last_updated_epoch': 1722500100, 'last_updat...
8   {'last_updated_epoch': 1722500100, 'last_updat...
9   {'last_updated_epoch': 1722500100, 'last_updat...
10  {'last_updated_epoch': 1722500100, 'last_updat...
11  {'last_updated_epoch': 1722500100, 'last_updat...
12  {'last_updated_epoch': 1722500100, 'last_updat...